/* .name{
  color: red;
  text-align: center;
  background-color: black;
}

.fruitlist{
  display: flex;
  justify-content: center;
  list-style: none;
}

li{
  margin-right: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid red;
  padding: 10px;
  cursor: pointer;
}

.mobile-number{
  text-align: center;
  text-decoration: underline red;
}

.apple-box{
  color: white;
  background-color: red;
}

.banana-box{
  color: black;
  background-color: yellow;
} */
